# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Aspire\Documents\Documents Aline\Mata Kuliah\Bahasa Pemrograman\Semester 1\Latihan Python\Pertemuan-10\Pertemuan10-Lab6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
